[submodule "deps/WECore"]
	path = deps/WECore
	url = https://github.com/howdy213/WECore
[submodule "plugins/ExamplePlugin"]
	path = plugins/ExamplePlugin
	url = https://github.com/howdy213/ExamplePlugin
